<h1>Has sido invitado para unirte a <%= @team.name%></h1>
<p>Has sido fichado por <%=@captain.nickname || @captain.name%> y jugar en <a href="masconaso.com">Masconso.com</a> sige <a href="" title="">Este Link</a> para confirmar tu invitacion </p>